:root {
  --bg-color-1: #e8bbb7;
}

h1 {
	font-size:1.5em;
}

#map {
	width:100%;
	height:600px;
}

#step2 {
	display:none;
}

#process_postcodes {
	margin-top:20px;
	margin-left:20px;
	font-size:2em;
}

.btn-app {
	background-color:white;
	border-color:black;
}

.btn-data {
	background-color:white;
	border-color:black;
	min-width:90px;
	font-size:0.8em;
}

.btn-active {
	background-color:var(--bg-color-1);
}

.data-navigation {
	margin-bottom:10px;
}